@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  height: 100vh;
}

.from {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
  height: 35vh;
  padding: 20px;
}

.to {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 35vh;
  padding: 20px;
}

.convert {
  width: 80vw;
  margin-left: 10vw;
  height: 5vh;
  margin-bottom: 2.5vh;
}

.header {
  padding:30px;
  text-align: center;
  height: 2vh;
  color: black;
  font-weight: bold;
}
